<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css" />
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('nav') %>



<div class="container-fluid leftside">
  <div class="row" >

    <div class="col-sm-1 left" >
    </div>

    <div class="col-sm-8 middle">
      <!--
      <div class="jumbotron jumbotron-fluid">
        <div class="container blog">
          <h1 class="display-4 title">Egytian God</h1>
          <p class="lead desc">GOD SAVE US ALL GOD SAVE US ALL</p>
          <p><a href="#" class="readmore">Read more</a></p>
        </div>
      </div>   -->
      <!--
      <div class="jumbotron jumbotron-fluid topic bg-secondary">
        <div class="row text-center" >
          <div class="col-sm-6">
            <div class="container">
              <h1 class="display-4">World War 2 Archive</h1>
              <p class="lead">A Walk Among The Bullet Hell Of The Past</p>
            </div>
          </div>
          <div class="col-sm-6" >
            <img src="https://fanart.tv/api/download.php?type=download&image=9839&section=1" />
          </div>
        </div>
      </div>  -->

      <% arrayOfBlogs.forEach( (blog)=> {  %>
        <div class="jumbotron jumbotron-fluid">
          <div class="row" >

              <div class="container">
                <h1 class="display-4"><%= blog.title %></h1>
                <p class="lead"><%= blog.desc %></p>
                <p><a href=<%= `/blogPost/${blog.id}` %> class="readmore">Read more</a></p>
              </div>


          </div>
        </div>
    <%  }); %>



    </div>

    <div class="col-sm-2 right" >
      <%- include('right_content') %>

      <br/>
      <span style="display:none;" id="currentPage"><%= currentPage %></span>
      <a id="prevBlogPage" href=<%= `/blogs/${parseInt(currentPage) - 1 }` %>
        type="button" class="btn btn-outline-secondary btn-sm <%= prevDisabled %>">Prev</a>
      <a id="nextBlogPage" href=<%= `/blogs/${parseInt(currentPage) + 1 }` %>
        type="button" class="btn btn-outline-secondary btn-sm <%= nextDisabled %>">Next</a>
    </div>
  </div>
</div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


</div>
  <%- include('foot') %>



  </body>
</html>
