<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css" />
    <title>Global History</title>
  </head>
  <body>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="wrapper">
  <%- include('nav') %>

<div class="container-fluid leftside">
  <div class="row" >

    <div class="col-sm-1 left" >
    </div>

    <div class="col-sm-8 middle">
      <h1 class="text-center text-secondary"><%= items[0].category.toUpperCase() %></h1>
      <hr>
      <div class="card-columns">
        <% items.forEach( (item)=> {  %>
          <div class="card">
            <img src=<%= item.imageSrc %> class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= item.title %></h5>
              <p class="card-text"><%= item.desc %></p>
              <p class="card-text">
                <a class="<%= loggedin ? '' : 'stretched-link' %>" href=<%= `/itemPost/${item.id}` %>>Read more</a>
              <!-- admin exclusive -->
              <% if (loggedin) { %>
                <label class="float-right"><b>Delete</b> <input class="align-middle delete" id="<%= `item|${item.id}` %>"
                  style="width:20px;height:20px;" type="checkbox" ></label>
                <label class="float-right"><b>Exhibit</b> <input class="align-middle exhibit" id="<%= `itemEx|${item.id}` %>"
                  style="width:20px;height:20px; margin-right: 5px;" type="checkbox" ></label>
              <% } %>


              </p>
            </div>
          </div>
      <%  }); %>

      </div>

    </div>

    <div class="col-sm-2 right" >
      <%- include('right_content') %>
      <br/>
      <div id="buttonContainer"></div>
    </div>
  </div>
</div>

</div>

<%- include('foot') %>


  </body>

</html>
