<link rel="stylesheet" href="/css/exhibition.css" />
<script src="/clientjs/exhibition.js"></script>


<div class="col-sm-9 middle">

  <div class="jumbotron jumbotron-fluid topic bg-secondary">
    <div class="row text-center" >
      <div class="col-sm-6">
        <div class="container">
          <h1 class="display-4"><%= data.title1 %></h1>
          <p class="lead"><%= data.title2 %></p>
        </div>
      </div>
      <div class="col-sm-6" >
        <img style="width: 70%;" src=<%= data.coverImg %> />
      </div>
    </div>
  </div>

    <div class="accordion" style="margin-bottom: 50px;" id="accordionExample">
      <div class="card">
        <div class="card-header position-relative bg-dark text-center" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-outline-light stretched-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Facts
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-columns">

            <% data.facts.forEach( (fact)=> { %>
              <% if(Object.keys(fact).length)  {%>
                <div class="card">
                  <img src=<%= fact.imageSrc %> class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><%= fact.title %></h5>
                    <p class="card-text"><%= fact.desc %></p>
                    <p class="card-text"><a href=<%= `itemPost/${fact.id}` %>>Read more</a></p>
                  </div>
                </div>
              <%}%>
            <%  }); %>


          </div>
        </div>
    </div>

    <div class="card">
      <div class="card-header position-relative bg-dark text-center" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-outline-light stretched-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
            Relics
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-columns">

          <% data.relics.forEach( (relic)=> { %>
            <% if(Object.keys(relic).length)  {%>
              <div class="card">
                <img src=<%= relic.imageSrc %> class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= relic.title %></h5>
                  <p class="card-text"><%= relic.desc %></p>
                  <p class="card-text"><a href=<%= `itemPost/${relic.id}` %>>Read more</a></p>
                </div>
              </div>
            <%}%>
          <%  }); %>

        </div>
      </div>
  </div>

  <div class="card">
    <div class="card-header position-relative bg-dark text-center" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-outline-light stretched-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseOne">
          People
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-columns">

        <% data.people.forEach( (person)=> { %>
          <% if(Object.keys(person).length)  {%>
            <div class="card">
              <img src=<%= person.imageSrc %> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= person.title %></h5>
                <p class="card-text"><%= person.desc %></p>
                <p class="card-text"><a href=<%= `itemPost/${person.id}` %>>Read more</a></p>
              </div>
            </div>
          <%}%>
        <%  }); %>

      </div>
    </div>
</div>

  </div>
</div>
